---
layout: default
---

<div class="posts pinned-posts">
  <span class="area-title">Pinned Posts</span>
  <hr />
  {% for post in site.posts %}
    {% if post.type == "post" and post.pinned == true %}
    <article class="post pinned">
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
 		  <h4 class="date">{{ post.date | date: "%B %e, %Y" }} | <a href="/category/{{ post.category }}">{{ post.category }}</a></h4>
      <div class="entry preview">{{ post.excerpt | truncate: 280 }}</div>
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
    {% endif %}
  {% endfor %}
</div>

<div class="posts">
  <span class="area-title">Recent Posts</span>
  <hr />
  {% for post in site.posts %}
    {% if post.type == "post" and post.pinned == false %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
 		<h4 class="date">{{ post.date | date: "%B %e, %Y" }} | <a href="/category/{{ post.category }}">{{ post.category }}</a></h4>
<!--
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
-->
    </article>
    {% endif %}
  {% endfor %}
</div>


{% if next_page != nil %}
<!-- Pagination links -->
<div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">&laquo;</a> {% else %}
    <span class="previous">&laquo;</span> {% endif %}
    <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span> {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">&raquo;</a> {% else %}
    <span class="next ">&raquo;</span> {% endif %}
</div>
{% endif %}
