// FONT IMPORTS
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');


// VARIABLES

// Measurements
$radius: 3px;

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fdfdfd;

// NuColors
$nuWhite: #f2f2f2;
$nuOffWhite: #D7DDDC;
$nuBlack: #242424;
$nuOffBlack: #656565;
$nuDarkGrey: #9c9c9c;
$nuRed: #DE2735;
$nuYellow: #f9d867;

// Font stacks
$helvetica: "Open Sans", Arial, sans-serif;
$helveticaNeue: "Roboto", Arial, sans-serif;
$georgia: Georgia, serif;

// Backgrounds
// %fixed-background {
// 	background-image: url({{ site.baseurl }}/images/masthead-background.jpg);
// 	background-attachment: fixed;
// }

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}