---
layout: default
---

<article class="page">
    <span class="area-title">Category - <span style="text-transform: capitalize;">{{ page.category }}</span></span>
    <hr />
    <div class="posts">
      {% for post in site.categories[page.category] %}
        {% if post.type == "post" %}
          <article class="post">
            <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
              <h4 class="date">{{ post.date | date: "%B %e, %Y" }}</h4>
          </article>
        {% endif %}
      {% endfor %}
    </div>
</article>
